button:focus{
	outline: 0px !important;
	box-shadow: none !important;
}
.book-list{
	width: 200px;
	height: 300px;
	position: relative;
	margin:  0 auto;

}
.book-list a{
	text-decoration: none;
}
.book-list:hover{
	box-shadow:   0 0  20px rgba(0,0,0,0.2);
}
.book-list:hover .box-btn .btn-img{
	opacity: 1;
	-webkit-transform: scaleY(1);
	   -moz-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	     -o-transform: scaleY(1);
	        transform: scaleY(1);
	-webkit-transition: all .25s ease 0s;
	   -moz-transition: all .25s ease 0s;
	    -ms-transition: all .25s ease 0s;
	     -o-transition: all .25s ease 0s;
	        transition: all .25s ease 0s;
}
.btn-cart,.btn-heart{
	border-radius: unset;
	background-color: #6f9a37;
	padding: 0px;
	
}
.book-list .icon-self{
	position: absolute;
	top: 0px;
	right: 30px;
}
.book-list .box-btn{
	position: absolute;
	z-index: 3000;
	display: inline-flex;

}
.box-btn .btn-img{
	background-color: #6f9a37;
	width: 40px;
	height: 40px;
	margin-bottom: 15px;
	text-align: center;
	opacity: 0;
	-webkit-transform: scaleY(0);
	   -moz-transform: scaleY(0);
	    -ms-transform: scaleY(0);
	     -o-transform: scaleY(0);
	        transform: scaleY(0);
	-webkit-transition: all .25s ease 0s;
   -moz-transition: all .25s ease 0s;
    -ms-transition: all .25s ease 0s;
     -o-transition: all .25s ease 0s;
        transition: all .25s ease 0s;
  z-index: 3000;
}
.btn-img .fa[class*="fa-"] {
	font-size: 20px;
	color: white;
	margin-top: 10px;
}

.book-list .title ,.book-list .price-sale{
	margin-left: 10px;
}
.book-list .content-book .price-sale{
	font-size: 18px;
	color: black;
}
.book-list .content-book .price-regular{
	text-decoration: line-through;
	font-size: 15px;
	color: gray;
}
.badge-deal{
	padding: 15px;
	font-size: 15px;
	background-color: #f3f3f3;
	color: red;
	border-radius: 50%;
	box-shadow: 0px 2px 2px;
}
h1.title{
	margin: 20px 0px;
}
.col-md-12{
	box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
	margin-top: 20px;
}

.slide-home{
	width: 100%;
}

.owl-carousel .book-advance{
	height: 500px;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}
.owl-carousel .book-advance .description{
	position: relative;
	float: right;
	padding-top: 100px;
}
.owl-carousel .book-advance .title{
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 10px;
}
.owl-carousel .book-advance .sub-title{
	display: block;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 10px;
}
.owl-carousel .book-advance .des{
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	max-width: 400px;
	margin-bottom: 20px;

}
.owl-carousel .book-advance .btn-buy{
	padding: 15px 20px;
	background-color: red;
	color: white;
}
.owl-carousel .owl-item.active .book-1 .title{
    animation: fadeInDown 0.6s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-1 .sub-title{
	animation: fadeInDown 1s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-1 .des{
	animation: fadeInDown 1.5s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-1 .btn-buy{
	animation: fadeInRightBig 1.7s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-2 .title{
  animation: fadeInDown 0.6s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-2 .sub-title{
	animation: fadeInDown 1s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-2 .des{

	animation: fadeInDown 1.5s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-2 .btn-buy{
	animation: fadeInRightBig 1.7s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-3 .title{
  animation: fadeInDown 0.6s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-3 .sub-title{
	animation: fadeInDown 1s ease-in-out 0.8s both;
}
.owl-carousel .owl-item.active .book-3 .des{
	animation: fadeInDown 1.5s ease-in-out 0.4s both;
}
.owl-carousel .owl-item.active .book-3 .btn-buy{
	animation: fadeInRightBig 1.7s ease-in-out 0.8s both;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
		opacity: 1;
		transform: translateY(0);
  }
}
@keyframes fadeInRightBig{
	0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
	}
	100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}
@media (max-width: 768px) {
	.owl-carousel .book-advance{
		height: 400px;
	}
	.owl-carousel .book-advance .title{
		font-size: 35px;
	}
	.owl-carousel .book-advance .sub-title{
		font-size: 20px;
	}
	.owl-carousel .book-advance .btn-buy{
		margin: 0 auto;
		display: block;
		width: 100px;
	}
}
.search-input{
	position: relative;
	border-radius: 50px;
	background-color: white;
}
.search-input label{
	position: absolute;
  top: 15px;
  left: 15px;
  color: #ccc;
  font-size: 20px;
  transition: all 0.5s ease-out;
}
.animation-search{
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	outline: none;
	background: none;
	z-index: 1;
	padding: 20px 30px 20px 20px;
	transition: width 0.2s ease-in-out;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}
.animation-search:focus{
	width: 250px;
	transition: width 0.5s ease-in-out;
}
.animation-search:focus + label.glyphicon-search{
	left:  calc(100% - 40px);
	z-index: 2;
	transition: all 0.2s ease-out;
}