.footer-page{
	margin-top: 30px;
	padding-top: 50px;
	background-color: #1f1f1f;
}
.footer-page h3{
	color: white;
	font-weight: bold;
	margin-bottom: 15px;
}
.footer-page a{
	text-decoration: none;
	display: block;
	color: #79b4e1;
	font-size: 17px;
}
.footer-page a:hover{
	color: #337ab7;
}
.footer-page ul li{
	margin-bottom: 5px;
}
