body{
	font-family: 'Roboto', sans-serif;
	background-color: #efefef;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.col-md-12{
	background-color: white;
}

.navbar.navbar-static-top{
	width: 100%;
	background-color: white;
	webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 20px 0px;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-nav>li{
	font-size: 20px;	
}
.navbar-fixed-top{
	width: 100%;
	webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10px 0px;
}
.navbar-brand{
	font-size: 30px;
	padding: 0px;
}
.content-left{
	background-color:#c1c1d4;
	height: 100vh;
}


.image-book{
	float: left;
	height: 400px;
	position: relative;
}

.navbar-toggle{
	float: left;
	z-index: 3000;
}
	
.content-block{
	width: 100%;
	height: 50px;
	background-color: orange;
	position: relative;
}
.content-block::before{
		border-bottom: 17px solid orange;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 0;
    left: 50%;
    margin-top: 0;
    margin-left: -17px;
    top: -17px;
    position: absolute;
    content:  '';
	
}

.navbar-right{
		margin-right: 0 !important;
		display: flex;
	}
.btn-shopping-cart, .btn-loggin{
	background-color: #269bae;
	color: white !important;
	border-radius: 40px;
	width: 120px;
	padding: 10px 0px !important;
	outline: none !important;	

}
.btn-shopping-cart:hover, .btn-loggin:hover{
	background-color:#52a2da !important;
	color: white !important;
}
.btn-shopping-cart:focus, .btn-loggin:focus{
	background-color:#52a2da !important;
	color: white !important;
}
.content-right{

	background-color: #c4cbe1;
}
.right-box{
	margin: 10px;
	width: 100%;
	background-color: blue;
	margin: 5px;

}



.owl-carousel .owl-nav {
	top: 30%;
	position: absolute;
	width: 100%;
}
.owl-carousel .owl-nav .owl-prev{
	float: left;

}
.owl-carousel .owl-nav .owl-prev::before{
	font-family: FontAwesome;
	content: "\f053";
}

.owl-carousel .owl-nav .owl-next{
	float: right ;
}
.owl-carousel .owl-nav .owl-next::before{
	font-family: FontAwesome;

	content: "\f054";
}
.owl-theme .owl-nav [class*='owl-']:hover{
	background-color: #fff;
	color: black;
}
.owl-carousel .owl-nav{
	opacity: 0;
	-webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
	padding: 10px 16px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  font-size: 15px;
  color: #333333;
  text-align: center;
  
  content:  "";
}
.owl-carousel:hover .owl-nav {
	opacity: 1;
	-webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  content:  "";
}
.owl-carousel:hover .owl-nav .disabled{
	opacity: 0.5;
}
li:hover a.btn-shopping-cart ~ .dropdown-cart,li:hover a.btn-loggin ~ .dropdown-login{
	opacity: 1;
	display: block;
	min-height:  100px;
	background-color: #ffffc8;
	margin-top: 20px;
}

li a.btn-shopping-cart ~ .dropdown-cart,li a.btn-loggin ~ .dropdown-login{
	opacity: 0;
	display: none;
	min-width: 200px;
	padding: 10px 20px;
	position: absolute;
	transform: translateX(-50%);
  left: 50%;
}
.dropdown-cart-hoverbefore,.dropdown-login-hover{
	padding: 10px;
	font-size: 15px;
}
.dropdown-cart-hoverbefore li,.dropdown-login-hover li {
	margin: 10px 0;
}
.dropdown-cart-hover::before,.dropdown-login-hover::before{
	border-bottom: 20px solid #ffffc8;
	border-right: 20px solid transparent;
	border-left:  20px solid transparent;
	position: absolute;
	margin-left: -20px;
	top: -20px;
	left: 50%;
	content: "";
	display: table;
}


@media (max-width: 767px){
	.navbar-nav{
		margin:  0px;
	}
	.navbar.navbar-static-top{
		padding: 10px 0px;
	}
	.content-right{
		display: none;
	}
	.navbar{
		height: 60px;
	}
	.navbar.navbar-fixed-top{
		height: 60px;
	}
	
	.sidebar{
		z-index: 1000;
    left: 0;
    width: 0;
    height: 0;
    margin-left: -150px;
    overflow-y: auto;
    background-color: #ccc;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

	} 
	
	.icon-bar{
		background-color: gray;
		}
	/* .navbar-toggle.active .icon-bar{
		margin-top: -2px ;
	} */
	
	.navbar-right.toggle .sidebar{
		margin-left: 0px;
		text-align: center;
		width: 100%;
		height: 100vh;
		position: fixed;
		webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
}
