body{
	font-family: 'Roboto', sans-serif;
	background-color: #efefef;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
.col-md-12{
	background-color: white;
}
.navbar.navbar-static-top{
	background-color: white;
	webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 20px 0px;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-nav>li{
	font-size: 20px;	
}
.navbar-fixed-top{
	webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10px 0px;
}
.navbar-brand{
	font-size: 40px;
	padding: 5px 15px;
}
.content-left{
	background-color:#c1c1d4;
	height: 100vh;
}
.image-book{
	float: left;
	height: 600px;
	position: relative;
}
.navbar-toggle{
	float: left;
	z-index: 3000;
}
.icon-bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.content-block{
	width: 100%;
	height: 50px;
	background-color: orange;
	position: relative;
}
.content-block::before{
		border-bottom: 17px solid orange;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 0;
    left: 50%;
    margin-top: 0;
    margin-left: -17px;
    top: -17px;
    position: absolute;
    content:  '';
	
}

.content-right{
	background-color: #c4cbe1;
}
.right-box{
	margin: 10px;
	width: 100%;
	background-color: blue;
	margin: 5px;
}


.navbar-toggle.active .top {
  -webkit-transform:  rotateZ(45deg);
  -moz-transform:  rotateZ(45deg);
  -ms-transform:  rotateZ(45deg);
  -o-transform:  rotateZ(45deg);
  transform:  rotateZ(45deg);
}

.navbar-toggle.active .bot {
  -webkit-transform:  rotateZ(-45deg);
  -moz-transform:  rotateZ(-45deg);
  -ms-transform:rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform:  rotateZ(-45deg);
}

.navbar-toggle.active .mid{
  display: none;
}

.owl-carousel .owl-nav {
	top: 30%;
	position: absolute;
	width: 100%;
}
.owl-carousel .owl-nav .owl-prev{
	float: left;

}
.owl-carousel .owl-nav .owl-prev::before{
	font-family: FontAwesome;
	content: "\f053";
}

.owl-carousel .owl-nav .owl-next{
	float: right ;
}
.owl-carousel .owl-nav .owl-next::before{
	font-family: FontAwesome;

	content: "\f054";
}
.owl-theme .owl-nav [class*='owl-']:hover{
	background-color: #fff;
	color: black;
}
.owl-carousel .owl-nav{
	opacity: 0;
	-webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
	padding: 10px 16px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  font-size: 15px;
  color: #333333;
  text-align: center;
  
  content:  "";
}
.owl-carousel:hover .owl-nav {
	opacity: 1;
	-webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  content:  "";
}
.owl-carousel:hover .owl-nav .disabled{
	opacity: 0.5;
}
@media (max-width: 767px){
	.navbar-nav{
		margin:  0px;
	}
	.navbar.navbar-static-top{
		padding: 10px 0px;
	}
	.content-right{
		display: none;
	}
	.navbar{
		height: 60px;
	}
	.navbar.navbar-fixed-top{
		height: 60px;
	}
	
	.sidebar{
		z-index: 1000;
    left: 0;
    width: 0;
    height: 0;
    margin-left: -150px;
    overflow-y: auto;
    background-color: #ccc;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

	}
	
	.icon-bar{
		background-color: gray;
		}
	.navbar-toggle.active .icon-bar{
		margin-top: -2px ;
	}
	
	.navbar-right.toggle .sidebar{
		margin-left: 0px;
		text-align: center;
		width: 100%;
		height: 100vh;
		position: fixed;
		webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
/* fadeInRightBig 0.6s ease-in-out 0.8s both */